.about-section{
  padding: 160px 0;
  .box{
    .title{
      font-size: 32px; font-weight: 700; line-height: 160%;
    }
    .desc{
      font-size: 18px; font-weight: 400; line-height: 160%; color: #666; margin-top: 40px;
    }
  }
  .sign{
    display: flex; gap: 16px; margin-top: 80px; justify-content: end;
    .position{font-size: 18px; font-weight: 700; line-height: 160%; color: #333;}
    .name{color: #333;font-size: 24px;line-height: 160%;}
  }

  // vision
  .vision-list{
    display: flex; justify-content: space-between; gap: 20px; margin-top: 115px;
    .vision-content{
      width: 25%; display: flex; flex-direction: column; align-items: center; padding: 0 40px;
      .title{
        font-size: 24px; font-weight: 700; line-height: 160%; margin-top: 24px;
      }
      .desc{
        font-size: 18px; line-height: 160%; margin-top: 4px;
      }
    }
  }
}