.main-banner{
  position: relative; height: 100%; display: flex; align-items: center; justify-content: center;
  .scroll-down{
    position: absolute; bottom: 5%; right: 5%; display: flex; align-items: center; gap: 8px; cursor: pointer;
    p{font-size: 14px; font-weight: 700;}
    .icon-scroll-down{ transform: translateY(-4px);}
  }
}
.section-visual{
  background: radial-gradient(174.78% 66.92% at 63.54% 61.76%, #F5F6FF 0%, #E9EBF4 22.92%, #F6F8FF 100%);
  .container{ padding: 0;}
  .main-visual-desc{
    display: flex; align-items: center; position: relative;
    .text{position: relative;top: -100px;}
    .title{font-size: 24px; font-weight: 700; position: relative; opacity: 0; transform: translateY(-40px); transition: opacity 0.5s, transform 0.5s;}
    .desc{ 
      font-size: 96px; font-weight: 700; line-height: 120%; margin-top: 24px; 
      p{ position: relative; opacity: 0; transform: translateY(40px); transition: opacity 0.5s, transform 0.5s;}
    }
    .img{
      position: absolute; right: -19%; top: -10%; opacity: 0; transform: translateX(-100%); 
      &.main-visual-third{ right: -12%;}
      &.main-visual-fourth{ right: -5%;}
    }
  }
  .swiper-pagination{
    bottom: 5% !important; left: 50% !important; width: auto !important; transform: translateX(-50%) !important;     background-color: #fff; padding: 6px 10px; border-radius: 32px;display: flex; align-items: center; justify-content: center;
    .swiper-pagination-bullet{
      width: 64px; height: 28px; border-radius: 32px; background-color: #fff;
      &.swiper-pagination-bullet-active{
        background-color: $primary;
      }
    }
  }
}

// section2
.section-desc{
  @at-root{
    .main-desc{
      .sub-title{
        font-size: 18px; font-weight: 700; line-height: 160%;  color: $primary;opacity: 0; transform: translateY(40px);
      }
      .title{
        font-size: 80px; font-weight: 700; line-height: 130%; margin-top: 20px;opacity: 0; transform: translateY(40px);
      }
    }
  }
  .txt-box{
    display: flex; align-items: center; justify-content: end;
  }
  .txt{
    width: 40%; font-size: 24px; font-weight: 700; line-height: 160%; margin-top: 130px;opacity: 0; transform: translateY(80px);
  }
}
.poligon{
  background: linear-gradient(180deg, #82C3FF 21.68%, #3D9CEC 53.71%, #0061B2 96.67%); width: 200px; height: 500px;border-radius: 150px;
}

.rolling-box.original {
  animation: rollingleft1 120s linear infinite;
}
.rolling-box.clone {
  animation: rollingleft2 120s linear infinite;
}

@keyframes rollingleft1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(100%); }
  50.01% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
  0% { transition: translateX(0); }
  100% { transform: translateX(200%); }
}

.rolling-container{display: flex; overflow: hidden;  position: absolute; top: 50%; transform: translateX(-50%);}
.rolling-box{  min-width: auto;  margin-right: 140px;}
.img-wrap{
  display: flex; gap: 140px;
  .img{
    width: 140px; height: 140px;
    img{ width: 100%; height: 100%; object-fit: cover;}
 }
  .rolling-txt{
    color: #FFF; font-family: Montserrat; font-size: 96px; font-weight: 600; line-height: 120%;
  }
}