//content-head
.content-head{
  display:flex;flex-direction:column;align-items:center;row-gap:32px;
  &.bg-support{
    background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #E9EBF4 88.02%);
  }
  h1{font-size: 80px;font-weight: 700;line-height: 130%;text-transform: capitalize;}
  .text{color:$gray-6;font-size: 18px;line-height: 160%;text-align:center;}
  margin-bottom:160px;
}
.support-inquiry{
  justify-content: space-between;margin-bottom:100px;
  .top-text{margin-bottom:40px;display:flex;flex-direction:column;row-gap:16px;
    .title{font-size: 40px;font-weight: 700;line-height: 130%;}
    .text{font-size: 18px;font-weight: 400;}
  }
  .email-text{
    display:flex;flex-direction:column;row-gap:16px;margin-bottom:216px;
    .title{font-size: 24px;font-weight: 700;}
    p{color:$gray-6;}
  }
  .form-container{
    .btn{margin-top:82px;}
  }
  .terms{
    .terms-title{margin-bottom:8px;font-weight:700;}
    .terms-content{padding:12px 24px 12px 12px;margin-bottom:16px;background-color:$bg-color;font-size:14px;line-height:22.4px;color:#999;}
  }
}



.support-banner{
  display:flex;column-gap:109px;padding:44px 0 39px 58px;margin-top:40px;border-radius: 24px;background: rgba(9, 101, 238, 0.04) url("../images/bg-support-banner.png")no-repeat 100% 0;
  .text-box{
    color: #202434;
    .title{margin-bottom:14px;font-size: 32px;font-weight: 700;line-height: 160%;}
  }
  .inquiry-box{
    p{
      &:first-child{margin-bottom:5px;font-size:18px;}
      strong{font-weight:700;}
    }
    .btn{width:200px;margin-top:20px;}
  }
}

//qna
.icon-reply{width:22px;height:24px;background:url("../images/icon-reply.svg");}


//faq
.faq-accordion{
  margin-bottom:100px;
  .accordion-button{
    position:relative;padding:24px 0;font-size: 18px;font-weight: 700;line-height: 160%;width: 100%;text-align: left;
    &::after{position:absolute;right:0;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);display:inline-block;width: 25px;height: 25px;content: "";background: url("../images/icon-faq-arr.svg")no-repeat;transition: 0s;}
  }
  .cate{display:inline-block;margin-right:12px;text-align:center;min-width:70px;color:$primary;font-size: 18px;font-weight: 700;line-height: 160%;letter-spacing: 0.135px;}
  .answer-content{padding:24px 80px 24px 24px;border:1px solid $primary;border-radius: 8px;background: rgba(9, 101, 238, 0.06);}

  @include media-breakpoint-down(md){
    .accordion-button{
  
      &::after{}
    }
    .cate{}
    .answer-content{}
  }

}

