#footer {
  background: $white;
  padding: 60px 0 59px;
  .desc{
    display:flex;flex-direction:column;row-gap:4px;
    dl{
      display:flex;align-items:center;column-gap:8px;font-size:14px;line-height:21px;
      dt{width:54px;color:#666;}
      dd{color:$dark;font-weight:600;}
    }
  }
  .rg{
    display:flex;flex-direction:column;justify-content:space-between;
    .list{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
      li{
        position:relative;
        &::after{ content:""; position: absolute; width: 1px; height: 10px; background-color: $gray; right: -16px; top: 50%; transform: translateY(-50%);}
        &:last-child{
          &::after{ content:none;}
        }
        a{color:#666;font-weight:700;font-size:14px;line-height:22.4px;}
      }
    }
    .copyright{color:#999;font-size:14px;line-height:21px;}
  }
  
  @include media-breakpoint-down(md){
    padding:32px 16px;background-color: #050915;
  }
  .btn-top{width:48px;height:48px;}
}

.icon-top{background:url("../images/icon-top.svg");}

